.modal-title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.group-role {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.page-line {
    margin: 12px 0 20px;
    flex: 1 1 0;
    border-top: 0px solid rgb(105,105,105);
}

.fa-colorful-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.slide-preview {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
}

.middle-screen {
    position: fixed;
    top: 50%;
    bottom: 50%;
    margin: 0 3rem;
}

.middle-bottom-screen{
    position: fixed;
    left: 40%;
    margin: 0 3rem;
    bottom: 3rem;
}

.bottom-screen {
    position: fixed;
    padding: 0;
    bottom: 3rem;
    margin: 0 3rem;
    z-index: 1;
}

.top-screen {
    position: fixed;
    top: 3rem;
    margin: 0 3rem;
}

.btn-circle {
    border-radius: 50%;
}

.plugin-panel{
    display: flex;
}

.plugin-panel__element{
    height: 40px;
    padding: 0 4px;
    width: 200px;
}

.plugin-container{
    position: relative;
}

.plugin-data-question{
    position: absolute;
    left: 0px;
    min-height: 460px;
    max-height: 460px;
    background-color: white;
    top: -541px;
    border: 1px solid black;
    border-radius: 3px;
}

.plugin-student-question__board{
    height: 380px;
    overflow-y: scroll;
}

.plugin-teacher-question__board{
    overflow-y: scroll;
    
}

.plugin-question__status{
    padding: 2px 0;
    border-radius: 3px;
    width: 120px;
}

.plugin-question__status:hover{
    opacity: 0.75;
}

.plugin-question__body{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    position: relative;
    width: max-content;
}

.send-question-field{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.plugin-question__answered{
    background-color: yellowgreen;
}

.plugin-question__notanswered{
    background-color: #ccc;
}

.plugin-table-th{
    position: sticky; 
    background-color: white !important;
    padding: 0;
    top: 0;
}

.plugin-data-chat{
    position: absolute;
    right: 0px;
    min-height: 460px;
    max-height: 460px;
    border-radius: 3px;
    top: -500px;
    border: 1px solid black;
}

.plugin-panel__element:hover{
    cursor: pointer;
}


.chat-content{
    height: 350px;
    overflow-y:scroll;
}
